{% extends 'base.html' %}


{% block content %}

    <ul style="font-size: 20px;">
        <div class="d-grid gap-2 col-6 mx-auto">
            <li class="btn btn-primary mb-3">
                <a href="{% url 'university:students' %}" style="text-decoration: none;" class="text text-white">
                    values & values_list</a>
            </li>
            <li class="btn btn-primary">
                <a href="{% url 'university:lessons' %}" style="text-decoration: none;" class="text text-white">
                    Q functions</a>
            </li>
        </div>
    </ul>

{% endblock %}
